WebApplication1/RequestCustomerEIC.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:include schemaLocation="common.xsd"/>

  <xsd:element name="RequestCustomerEIC">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DocumentIdentification" type="DocumentIdentification_type"/>
        <xsd:element name="SenderIdentification" type="EICIdentification_type"/>
        <xsd:element name="ReceiverIdentification" type="EICIdentification_type"/>
        <xsd:element name="DocumentDateTime" type="DocumentDateTime_type"/>
        <xsd:element name="CustomerData" type="CustomerData_type"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>